<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<session-config> 
   		<tracking-mode>COOKIE</tracking-mode> 
	</session-config>
	<servlet>
		<servlet-name>cineapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/cineapp-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<location>c:\tmp</location>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>cineapp</servlet-name>
		<!-- <url-pattern>*.html</url-pattern> -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--CONFIGURACION DEL FITRO EN SPRING SECURYTI -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml,
			/WEB-INF/spring/cineapp-security.xml
		</param-value>
	</context-param>
	<!-- CONFIGURACION DE PAGINAS DE ERRORES -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/error/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	
	<!-- Configuracion del tipo autenticacion tipo BASIC -->
	<security-constraint>
	<web-resource-collection>
		<web-resource-name>URLs protegidas solo para el rol Editor</web-resource-name>
		<!--Define the context-relative URL(s) to be protected -->
		<url-pattern>/horarios/*</url-pattern>
		<url-pattern>/noticias/*</url-pattern>
		<url-pattern>/peliculas/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
		<!--Anyone with this role may access this area -->
		<role-name>editor</role-name>
	</auth-constraint>
</security-constraint>
<security-constraint>
	<web-resource-collection>
		<web-resource-name>URLs protegidas solo para el rol Gerente</web-resource-name>
		<!--Define the context-relative URL(s) to be protected -->
		<url-pattern>/horarios/*</url-pattern>
		<url-pattern>/noticias/*</url-pattern>
		<url-pattern>/peliculas/*</url-pattern>
		<url-pattern>/Banners/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
		<!--Anyone with this role may access this area -->
		<role-name>gerente</role-name>
	</auth-constraint>
</security-constraint>
<login-config>
	<auth-method>BASIC</auth-method>
</login-config>
	
	

</web-app>